@import "shared.css";

:root {
    --canvas-width: 600px;
}

nav {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
}

nav > img {
    height: 40px;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 60px;
}

#best-container {
    font-weight: 600;
}

#medium-link {
    background: var(--white);
    text-decoration: none;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px 3px 3px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
}

#medium-link img {
    height: 20px;
}

main {
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
    box-sizing: border-box;
}

#score {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 600;
}

#game {
    text-align: center;
    display: none;
}

.border {
    background: var(--primary-dark);
    width: calc(var(--canvas-width) + 20px);
    height: 20px;
    border-radius: 10px;
}

canvas {
    width: var(--canvas-width);
    height: calc(var(--canvas-width) * 0.6);
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

/* QR Code */
#qr-code {
    width: 200px;
    height: 200px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.5);
    animation-name: popup-grow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

@keyframes popup-grow {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    70% {
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
    :root {
        --canvas-width: 450px;
    }

    .border {
        height: 14px;
        border-radius: 7px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --canvas-width: 350px;
    }
}
